# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
node_modules
package-lock.json

# idea
out
*.ipr
*.iws
*.iml
.idea
.idea/*
!.idea/scopes

# gradle
build
.gradle
patch_notes.md

# other
eclipse
run
